#dashboard{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

.card {
    border-radius: 10%;
    transition: transform 0.8s;
    position: relative;
    text-align: center;     
    background-color: #edf1f4;
}

.card:hover {
    transform: rotateY(180deg);
}

.card h3 {
    backface-visibility: hidden;
    opacity: 1; 
}

.card p {
    visibility: hidden;
    opacity: 0;
    transform: rotateY(180deg);
}

.card:hover h3 {
    opacity: 0;
}

.card:hover p {
    visibility: visible;
    opacity: 1;
}