.opened, .assigned, .closed, .overdue{
    background-color: #edf1f4;
    display: inline-flex;
    border-radius: 10%;
    padding: 2rem;
    justify-content: space-between;
}

.opened:hover, .assigned:hover, .closed:hover, .overdue:hover {
    transform: rotateY(180deg);
    transform-origin: center;
}

