:root {
    --light-blue: rgb(144, 204, 239);
}

#faqs, #management {
    margin-left: 3rem; 
    margin-top: 2rem;
    margin-right: 3rem;
}

#faqs h2, #management h2 {
    display: none;
}

.faq, .management {
    margin-bottom: 1rem;
    border: 1px solid #ccc; 
    border-radius: 0.3rem;
    max-width: 70rem;
}

.question, .action {
    padding: 0.8rem;
    font-weight: bold;
}

.faq > p {
    padding-left: 0.8rem;
}

.faq[open] .question, .faq[open] .question input, .management[open] .action {
    background-color: var(--light-blue);
}

.management form {
    margin: 1rem;
}

.management select {
    padding: 0.2rem;
    margin-left: 0.5rem;
}

.management button {
    border: none;
    padding: 0.5rem;
    display: block;
    background-color: var(--light-gray);
}

.management[open] button:hover {
    background-color: var(--light-blue);
}

#upgrade-role, .field {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
}

.question input {
    min-width: 22.7rem;
    border: none;
    font-weight: bold;
    font-size: 1rem;
}

#faqs form {
    margin: 1rem;
}

.faq-buttons, .add-faq button {
    display: block;
}

.faq-buttons button, .add-faq button {
    border: none;
    background-color: var(--dark-blue);
    color: white;
}

.faq-buttons button:hover, .add-faq button:hover {
    background-color: var(--light-blue);
}

.add-faq {
    margin: 1rem;
}

.faq-buttons, .add-faq button {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
} 

.answer, .add-faq label {
    margin-left: 0.5rem;
}

.answer {
    margin-top: 0.5rem;
}

.faq .add-question + input {
    margin-top: 0.5rem;
}

.faq-questions-agent .answer, .add-faq .answer {
    width: 20rem;
    margin-bottom: 0.5rem;
    display: block;
}

.add-faq label:nth-last-of-type(1) {
    display: block;
    margin-top: 0.5rem;
}
