/*main {
    margin-top: 3rem;
    margin-left: 16rem;
    padding: 1.9rem;
    position: static;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    color: #22216D;
    text-align: left;
}*/

#category {
    background-color: #6b6ab7;
    padding: 0.6rem;
    font-size: 1rem;
    color: whitesmoke;
    cursor: pointer;
    width: 18.8rem;
}
  
#category option {
    background-color: rgb(149, 199, 246);
    color: rgb(69, 68, 68);
}

#category option[value="opt1"] {
    background-color: #a4a2e4;
    font-size: 1rem;
}

#category option[value="opt2"] {
    background-color: #bdbded;
    font-size: 1rem;
} 

.NewTicket {
    display: block;
    justify-content: left;
    align-items: left;
    width: 70%;
    height: 100vh;
    margin-top: 3rem;
}
  
.NewTicket-form {
    background-color: white;
    padding: 0;
}

/*form {
    font-family: Arial, sans-serif;;
    display: flex;
    flex-direction: column;
    align-items: left;
}
  
label {
    display: block;
    margin-bottom: 0.3rem;
}
  
input {
    padding: 0.5rem;
    margin-bottom: 0.6rem;
    border: 1px solid #ccc;
    width: 85%;
    background-color:#e8e3e3;
}*/

#department, #tags, #priority {
    width: 87%;
    padding: 0.5rem;
    background-color:#e8e3e3;
    border: 1px solid #ccc;
}

#Question {
    height: 15vh;
}
