.profile-page{
    display:grid;
    grid-template-columns: [profile-start] auto [profile-mid] 50% [profile-end];
    grid-gap: 1rem;
}

#profile{
    grid-column: profile-start/profile-mid;
}

#profile-photo{
    grid-column: profile-mid/profile-end;
}

#profile-photo img{
    width: 70%;
    height: 70%;
}

#profile h2, #password h2 {
    display: none;
}

#edit-profile, #change-password {
    text-decoration: none;
}

#profile #edit-profile, #password #change-password {
    background-color: var(--dark-blue);
    padding: 1rem;
    color: white;
}

#profile #change-password, #password #edit-profile {
    background-color: var(--light-gray);
    padding: 1rem;
    color: black;
}

#profile, #profile-photo, #password {
    margin: 3rem;
}

#profile form label input, #password form label input {
    vertical-align: text-top;
}

#profile form input, #password form input {
    max-width: 30rem;
    margin-bottom: 1rem;
}

#profile form, #password form, #profile-photo form {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-right: 2rem;
}

#profile label, #password label {
    margin-bottom: 0.3rem;
}

#profile form button, #profile-photo form button, #password form button {
    background-color: var(--dark-blue);
    border: none;
    color: white;
    padding: 0.3rem;
    margin-top: 1rem;
    width: 6rem;
}

@media only screen and (max-width: 1120px){
    
    #profile #change-password, #password #edit-profile {
        padding: 0.3rem;
    }

    #profile #edit-profile, #password #change-password {
        padding: 0.3rem;
    }
}