#profile h2, 
#password h2{
    display:none;
}

.profileTitle, 
.profilePassword{
    text-decoration: none;
}

#profile .profileTitle, 
#password .profilePassword{
    background-color: #22216D;
    padding: 1rem;
    color: #ffffff;
}

#profile .profilePassword, 
#password .profileTitle{
    background-color: #edf1f4;
    padding: 1rem;
    color: #000000;
}

#profile, 
#password {
    margin: 3rem;
}

#profile form label input,
#password form label input{
    vertical-align: text-top;
}

#profile form input,
#password form input{
    max-width: 30rem;
    margin-bottom: 1rem;
}

#profile form,
#password form{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-right: 2rem;
}

#profile label,
#password label{
    margin-bottom: 0.3rem;
}

#profile form button,
#password form button{
    background-color: #22216D;
    border: none;
    color: #ffffff;
    padding: 0.3rem;
    margin-top: 1rem;
    width: 6rem;
}