body{
  display: grid;
  grid-template-columns: [start] 13% [mid1] auto [end];
  grid-template-rows: [start] 5.5rem [mid1] auto [end];
  margin: 0;
  font-family: Arial, sans-serif;
}

.mainHeader{
  grid-column: start/end;
  grid-row: start/mid1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edf1f4;
}

#menu{
  grid-column: start/mid1;
  grid-row: mid1/end;
}

.mainHeader h1{
  margin-left: 2rem;
  font-size: 1.3rem;
}

.logout, 
.mainHeader h1{
  align-items: center;
}

.logout a, 
.logout button{
  display: block;
}

.logout a{
  text-decoration: none;
  color:black;
  margin-right: 1rem;
  text-align: center;
}

.logout button{
  background-color: #22216D;
  border: none;
  color: #ffffff;
  padding: 0.3rem;
  margin-left: 3rem;
}

#menu {
  background-color: #22216D;
  min-height: calc(100vh - 5.5em);
}

#menu a {
  display: block;
  padding-top: 0.8rem;  
  padding-bottom: 0.8rem;
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
}

#menu ul{
  list-style-type: none;
  padding-left: 0;
}

#menu li{
  padding-left: 2rem;
}

#menu li:hover {
  background-color: #76abe0;
}

#menu li:nth-of-type(1){
  margin-top: 1rem;
}

@media only screen and (max-width: 1120px) {

  /*meter as imagens no php*/
  #menu li {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    text-indent: -9999em;
  }
  
  #menu li:nth-of-type(1) {
    background-image: url('../assets/dashboard.png');
    background-size: 2.4rem;
  }
  
  #menu li:nth-of-type(2) {
    background-image: url('../assets/ticket.png');
    background-size: 3rem;
  }
  
  #menu li:nth-of-type(3){
    background-image: url('../assets/faq.png');
    background-size: 2.5rem;
  }

  #menu li:nth-of-type(4){
    background-image: url('../assets/newTicket.png');
    background-size: 2.5rem;
  }
  
  #menu li:nth-of-type(5) {
    background-image: url('../assets/management.png');
    background-size: 3rem;
  }
}






