.ticketsPage {
    display: grid;
    grid-template-columns: [start] 13% [mid1] 67% [mid2] 20%[end];
    grid-template-rows: [start] 95% [mid1] 5% [end];
}

#tickets {
    grid-column: mid1/mid2;
    grid-row: start/mid1;
}

#tickets h2{
    display:none;
}

.filters {
    grid-column: mid2/end;
    grid-row: start/end;
    background-color: #f5f7f9;
    /*display: flex;
    align-items: center;
    flex-direction: column;*/
}

/*.author > img {
    width: 2rem;
    height: 2rem;
    padding: 0.4rem;
}

#tickets a {
    text-decoration: none;
    color: #000000;
}*/

/*.ticket {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 4rem;
    align-items: center;
}

.author {
    display: flex;
    flex-direction: row;
}

.ticket:hover {
    background-color: #f5f7f9;
}

.author h3,
.status,
.author h4,
.opened,
.priority {
    font-size: 0.8rem;
    margin-top: 1.1rem;
}

#tickets .ticket:first-child {
    margin-top: 1rem;
}*/


/*.filter > select {
    display: block;
    margin-top: 0.5rem;
    padding: 0.2rem;
    max-width: 10rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    margin-top: 0rem;
    min-width: 1rem;
}

.filter {
    width: 100%;
}

.filter > p {
    text-align: center;
}

.filter label,
.filter select {
    margin-left: 1rem;
}

.filter select {
    width: 9rem;
}

.filters button {
    margin-top: auto;
    width: 7rem;
    height: 1.5rem;
    background-color: #22216D;
    color: #ffffff;
    border: none;
    margin-bottom: 1rem;
}

.paging {
    background-color: #f5f7f9;
    display: flex;
    flex-direction: row;
}

.paging #back,
.paging #next {
    border: none;
    background-color: #f5f7f9;
    margin-top: 0.5rem;
}

.paging #back {
    margin-left: auto;
}

.paging #next {
    margin-right: 2rem;
}
*/

/*
@media only screen and (max-width: 1120px) {
    .main {
        display: grid;
        grid-template-columns: [start] 10% [mid1] 90% [end];
        grid-template-rows: [start] 4rem [mid1] auto [mid2] auto [mid3] 2rem [end];
    }

    #tickets {
        grid-column: mid1/mid2;
        grid-row: start/mid3;
    }

    .paging {
        grid-column: mid1/mid2;
        grid-row: mid3/end;
    }

    .filters {
        grid-column: mid1/end;
        grid-row: start/mid2;
        background-color: #f5f7f9;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .filters p {
        display: none;
    }

    .filter {
        margin-top: 1rem;
        display: inline-block;
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .filter > label {
        font-size: 15px;
    }

    .filter > select {
        max-width: 4rem;
        height: 1.5rem;
    }

    .filters button {
        margin-bottom: 0rem;
        margin-top: 1.1rem;
        width: 4rem;
        height: 1.5rem;
        background-color: #22216D;
        color: #ffffff;
        border: none;
        margin-right: 1.5rem;
    }
*/