#ticket-page {
    display: grid;
    grid-template-columns: [ticket-start] auto [ticket-mid] 17% [ticket-end];
    grid-template-rows: [ticket-start] auto [ticket-end];
    height: 100%;
}

#ticket-info {
    grid-column: ticket-start/ticket-mid;
    grid-row: ticket-start/ticket-end;
}

#information {
    grid-column: ticket-mid/ticket-end;
    grid-row: ticket-start/ticket-end;
    background-color: var(--light-gray);
}

.properties {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.properties label {
    margin-top: 0.5rem;
    display: block;
}

.date {
    display: flex;
    flex-direction: row;
}

.date h3 {
    margin-left: 1rem;
}

.date p {
    margin-left: 0.5rem;
    margin-top: 1.3rem;
}

#date-closed h3 {
    margin-top: 0;
}

#date-closed p {
    margin-top: 0.1rem;
}

#changes {
    grid-column: ticket-mid/ticket-end;
    grid-row: ticket-mid/ticket-end;
    background-color: var(--light-gray);
    margin-left: 1rem;
}

.properties summary, #changes summary {
    font-weight: bold;
    margin-bottom: 1rem;
}

.properties label {
    margin-bottom: 0.2rem;
}

.properties select {
    margin-bottom: 0.5rem;
    width: 10rem;
    padding: 0.2rem;
    display: block;
    margin-right: 0.5rem;
}

.properties button {
    margin-top: 0.3rem;
    border: none;
    background-color: var(--dark-blue);
    color: white;
    padding: 0.2rem;
    width: 5rem;
    margin-bottom: 1.5rem;
}

.edit-ticket button {
    border: none;
    background-color: var(--dark-blue);
    color: white;
    padding: 0.2rem;
    width: 3rem;
}

.edit-ticket h2 input {
    width: 35rem;
    border: none;
    font-size: 1.3rem;
    font-weight: bold;
}

#ticket-header {
    display: flex;
    flex-direction: row;
}

#ticket-header img {
    width: 4.5rem;
    height: 4.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

#ticket-header  h2 {
    margin-top: 2.3rem;
}

#author img {
    width: 3rem;
    height: 3rem;
    margin-left: 2rem;
}

#author-edit {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.edit-ticket #description {
    border:none;
    width: 30rem;
    height: 4rem;  
    margin-left: 2.2rem;
}

#author {
    display: flex;
    flex-direction: row;
}

#author h3 {
    margin-left: 1rem;
    margin-top: 1rem;
}

.edit-ticket button {
    margin-right: 1rem;
    height: 2rem;
}

#ticket p {
    margin-left: 2rem;
}

/**************************************** MESSAGE BOARD *************************************/

#MessageBoard{
    padding-top: 1.5rem;
    margin-inline-start: 1.8rem;
}

#MessageBoard h3{
    color:midnightblue;
}

.client {
    background-color: var(--light-gray);
    width: 42%;
    margin: 1.5rem;
    position: relative;
}

.client:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    bottom: -2.1rem;
    left: 1.5rem;
    right: auto;
	border: 1.1rem solid;
	border-color: var(--light-gray) transparent transparent var(--light-gray);
}

.agent {
    left: 46%;
    background-color: var(--light-gray);
    width: 42%;
    margin: 1.5rem;
    position: relative;
}

.agent:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    bottom: -2.1rem;
    left: auto;
	right: 1.5rem;
	border: 1.1rem solid;
	border-color: var(--light-gray) var(--light-gray) transparent transparent;
}

#MessageBoard h4{
    color: rgb(28, 27, 27);
    padding: 0.5rem;
}

#MessageBoard p{
    margin-inline-start: 0.5rem;
}

#MessageBoard form{
    padding-top: 3rem;
}

.MessageBoard label{
    color: rgb(3, 3, 197);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: bold;
}

.MessageBoard textarea{
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    min-height: 5rem;
    min-width: 18rem;
}

.MessageBoard button{
    display: block;
    margin-top: 1.9rem;
    margin-bottom: 1.9rem;
    padding: 0.4rem;
    background-color: var(--dark-blue);
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    width: 12%;
}

#MessageBoard footer {
    margin-bottom: 0.3rem;
    margin-left: 15rem;
    margin-inline-start: 75%;
    padding: 0.4rem;
}

#MessageBoard hr{
    margin-bottom: 1.5rem;
    margin-right: 1.8rem;
    margin-left: 0.3rem;
    width: 90%;
    border-top: 2px solid #e1dede;
    border-radius: 5px;
}

span.material-symbols-outlined{
    line-height: 0.1rem;
}
