.ticketPage {
    display: grid;
    grid-template-columns: [ticketStart] auto [ticketMid1] 17% [ticketEnd];
    height:100%;
}

.ticket{
    grid-column: ticketStart/ticketMid1;
}

.dates{
    grid-column: ticketMid1/ticketEnd;
    background-color: #f5f7f9; 
}

.properties{
    grid-column: ticketMid1/ticketEnd;
    grid-row: mid1/mid2;
    background-color: #f5f7f9;
    display: flex;
    flex-direction: column;
}

.changes{
    grid-column: ticketMid1/ticketEnd;
    background-color: #f5f7f9; 
}

.deadlines p:first-child{
    font-weight: bold;
}

.deadlines #openDate, .deadlines #resolutionDate{
    display: flex;
    flex-direction: row;
    height: 1.5rem;
    margin-left: 1rem;
}

.deadlines p:nth-child(2){
    margin-left: 1rem;
}


    






