#tickets-page {
    display: grid;
    grid-template-columns: [tickets-start] auto [tickets-mid] 17% [tickets-end];
    grid-template-rows: [tickets-start] auto [tickets-mid] 3rem [tickets-end];
    height: 100%;
}

#tickets {
    grid-column: tickets-start/tickets-mid;
    grid-row: tickets-start/tickets-mid;
}

#tickets h2 {
    display: none;
}

/*.ticket{
    display: grid;
    grid-template-columns: [ticket-start] 1fr [ticket-mid] 1fr [ticket-end];
}*/

.ticket a {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 4rem;
    align-items: center;
    width: 100%;
}

.author > img {
    width: 2rem;
    height: 2rem;
    border-radius: 45%;
    margin-top: 0.4rem;
    margin-right: 0.3rem;
}

.author {
    display: inline-flex;
}

.author h3, .ticket h4 {
    font-weight: 100;
}

.author h3 {
    font-size: 1rem;
}

#tickets a {
    text-decoration: none;
    color: black;
}

.ticket {
    display: flex;
    flex-direction: row;
}

.ticket:hover {
    background-color: var(--light-gray);
}

.tickets:first-child {
    margin-top: 1rem;
}

.priority, .status{
    border-radius: 30%;
    padding: 0.3rem;
    border: 2px solid;
}

.critical {
    color: red;
    border-color: red;
}

.high {
    color: orange;
    border-color: orange;
}

.medium {
    color: yellow;
    border-color: yellow;
}

.low {
    color: green;
    border-color: green;
}

.none {
    color: black;
    border-color: black;
}

.open{
    color: purple;
    border-color: purple;
}

.closed{
    color: blue;
    border-color: blue;
}

.assigned{
    color: plum;
    border-color: plum;
}

#paging {
    grid-column: tickets-start/tickets-mid;
    grid-row: tickets-mid/tickets-end;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

#paging button {
    border: none;
    background-color: var(--light-gray);
    margin-right: 1rem;
}

.filters {
    grid-column: tickets-mid/tickets-end;
    grid-row: tickets-start/tickets-end;
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.filters label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

.filters select {
    width: 7rem;
}

.filters label input {
    vertical-align: super;
}

.filters button {
    margin-top: auto;
    width: 5rem;
    height: 1.5rem;
    background-color: var(--dark-blue);
    color: white;
    border: none;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 1120px){

    #tickets-page {
        display: grid;
        grid-template-columns: [tickets-start] auto [tickets-end];
        grid-template-rows: [tickets-start] auto [tickets-mid] 3rem [tickets-end];
        height: 100%;
    }

    #tickets {
        grid-column: tickets-start/tickets-end;
        grid-row: tickets-start/tickets-mid;
    }

    #paging {
        grid-column: tickets-start/tickets-end;
        grid-row: tickets-mid/tickets-end;
    }

    .ticket p{
        display: none;
    }

    .filters {
        display: none;
    }
}
    
