.ticketsPage {
    display: grid;
    grid-template-columns: [ticketsStart] auto [ticketsMid1] 17%[ticketsEnd];
    grid-template-rows: [ticketsStart] auto [ticketsMid1] 3rem [ticketsEnd];
    height:100%;
}

.tickets {
    grid-column: ticketsStart/ticketsMid1;
    grid-row: ticketsStart/ticketsMid1;
}

.tickets h2{
    display:none;
}

.ticket a{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 4rem;
    align-items: center;
    width: 100%;
}

.author > img {
    width: 2rem;
    height: 2rem;
    border-radius: 45%;
    margin-top: 0.4rem;
    margin-right: 0.3rem;
}

.author{
    display: inline-flex;
}

.author h3, .ticket h4{
    font-weight: 100;
}

.author h3{
    font-size: 1rem;
}

.tickets a {
    text-decoration: none;
    color: #000000;
}

.ticket {
    display: flex;
    flex-direction: row;
}

.ticket:hover {
    background-color: #f5f7f9;
}

.tickets:first-child {
    margin-top: 1rem;
}

.priority{
    border-radius: 30%;
    padding: 0.3rem;
}

.priority-critical{
    color: #ff0000;
    border: 2px solid #ff0000;
}

.priority-high{
    color: #FFA500;
    border: 2px solid #FFA500;
}

.priority-medium{
    color: #FFFF00;
    border: 2px solid #FFFF00;
}

.priority-low{
    color: #008000;
    border: 2px solid #008000;
}

.paging {
    grid-column: ticketsStart/ticketsMid1;
    grid-row: ticketsMid1/ticketsEnd;
    background-color: #f5f7f9;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.paging button {
    border: none;
    background-color: #f5f7f9;
    margin-right: 1rem;
}

.filters {
    grid-column: ticketsMid1/ticketsEnd;
    grid-row: ticketsStart/ticketsEnd;
    background-color: #f5f7f9;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.filters label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

.filters select{
    width: 7rem;
}

.filters label input{
    vertical-align:super;
}

.filters button {
    margin-top: auto;
    width: 5rem;
    height: 1.5rem;
    background-color: #22216D;
    color: #ffffff;
    border: none;
    margin-bottom: 1rem;
}

/*
@media only screen and (max-width: 1120px) {
    .main {
        display: grid;
        grid-template-columns: [start] 10% [mid1] 90% [end];
        grid-template-rows: [start] 4rem [mid1] auto [mid2] auto [mid3] 2rem [end];
    }

    #tickets {
        grid-column: mid1/mid2;
        grid-row: start/mid3;
    }

    .paging {
        grid-column: mid1/mid2;
        grid-row: mid3/end;
    }

    .filters {
        grid-column: mid1/end;
        grid-row: start/mid2;
        background-color: #f5f7f9;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .filters p {
        display: none;
    }

    .filter {
        margin-top: 1rem;
        display: inline-block;
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .filter > label {
        font-size: 15px;
    }

    .filter > select {
        max-width: 4rem;
        height: 1.5rem;
    }

    .filters button {
        margin-bottom: 0rem;
        margin-top: 1.1rem;
        width: 4rem;
        height: 1.5rem;
        background-color: #22216D;
        color: #ffffff;
        border: none;
        margin-right: 1.5rem;
    }
*/