body {
    margin: 0;
}

h1{
    background-color: #22216D;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    height: 5rem;
    font-size: 1rem;
    color: #ffffff;
    padding-left: 2rem;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: calc(100vh - 5rem);
}

.leftColumn {
    margin-top: 5rem;
    vertical-align: middle;
}

.rightColumn {
    padding-top:2.5rem ;
    border-left: 0.5rem solid #22216D;
    position: relative;
    display: flex;
    justify-content: center;
}

form label input{
    vertical-align: text-top;
}

form input{
    max-width: 60rem;
}

form{
    display:flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-left: 4rem;
    padding-right: 2rem;
}

.container .photo{
    display:flex;
    justify-items: center;
}

.container #cancel {
    padding: 0.7rem;
    border:none;
    margin-left: 4rem;
    margin-top: 1rem;
    width: 6rem;
}

.container #save {
    display:inline-block;
    padding: 0.7rem;
    border:none;
    width: 6rem;
}

.container #title{
    padding: 0.9rem;
    background-color: #f0f0f0;
    margin-left: 4rem;
}

.leftColumn a {
    text-decoration: none;
    color: black;
}

.container #password{
    padding: 0.9rem;
    background-color: #f0f0f0;
}

.container #title:hover{
    background-color: #76abe0;
} 

.container #password:hover{
    background-color: #76abe0;   
}

.container #cancel:hover{
    background-color: #76abe0;
} 

.container #save:hover{
    background-color: #76abe0;   
}

.container #photo{
    height: 3rem;
    width: 5.5rem;
    border: none;
    margin-top: 25rem;
}

.container #photo:hover{
    background-color: #76abe0;   
}


